@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --numDays: 5;
    --numHours: 10;
    --timeHeight: 60px;
    --calBgColor: #fff1f8;
    --eventBorderColor: #f2d3d8;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
}
*{
  margin: 0;
  padding: 0;
  appearance: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  font-size: 14px;
}



body{
  width: 100vw;
  height: 100vh;
  font-size: 0.88rem;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a{
  color: var(--color-dark)
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h2{
  font-weight: 600;
  font-size: 3rem;
}

h3{
  font-weight: 500;
  font-size: 0.87rem;
}

small{
  font-size: 0.76rem;
}

p{
  color: var(--color-dark-variant);
}

b{
  color: var(--color-dark);
}
.text-muted{
  color: var(--color-info-dark);
}
.primary{
  color: var(--color-primary);
}
.danger{
  color: var(--color-danger);
}
.success{
  color: var(--color-success);
}
.warning{
  color:var(--color-warning);
}
.container{
  display: flex;
  width: 100%;
  margin: 0;
  gap: 1.8rem;
  grid-template-columns: 15rem auto 23rem;
}

aside{
  height: 100vh;
  width: 13vw;
  /*border: 0.1px dotted green;*/       /*border for sidebar holder*/
}

aside .toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}

aside .toggle .logo{
  display: flex;
  gap: 1rem;
}

aside .toggle img{
  width: 11rem;
  height: 11rem;
  
}

aside .toggle .close{
  padding-right: 1rem;
  display:none;
}

aside .sidebar{
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  height: 75vh;
  position:relative;
  top:1.1rem;
  transition: all 0.3s ease;
}

aside .sidebar:hover{
  box-shadow: none;
}

aside .sidebar a{
  display:flex;
  align-items: center;
  color: var(--color-info-dark);
  height: 5rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}

aside .sidebar a span{
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

aside .sidebar div:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active::before{
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
}


aside .sidebar a.active{
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-light);
  margin-left: 0;
}


aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
  color: var(--color-primary);
}

aside .sidebar a:hover span{
  margin-left: 0.6rem;
}

.search-bar {
  height: 2em;
  width: 200px;
  font-family: 'Poppins', sans-serif;
  padding-left: 2%;
  margin-top: 1.4rem;
}

#srcbtn {
  margin-top: 1.4rem;
  width: 2.5rem;

  border-radius: 20%;
}

form{
  display: flex;

}

header{
  margin-top: 1rem;
  margin-left: 18.3em;
  position: absolute;
  display: flex;
  /*border: 0.1px dotted red;*/     /*page title border*/
  height: 11rem;
  width: 80vw;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

header h2 {
  font-size:65px;
}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  min-width: 100%;
  margin-top: 1.4rem;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--color-white);
  color: var(--color-dark-variant);
  transition: .3s ease;
  font-family: inherit;
 }
 
 .input::placeholder {
  color: var(--color-dark-variant);
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: var(--color-primary);
  background-color: #fff;
  box-shadow: 0 0 0 4px var(--box-shadow);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: var(--color-dark);
  width: 1rem;
  height: 1rem;
 }

 main{
    margin-top: 13rem;
    min-height: 10vh;
    width: 100%;
   }
   main h1{
    font-size: 2vw;
   }
   main h3{
    font-size: 2vw;
    font-weight: 100;
    color: #000;
   }
   main h2{
    color:#000;
   }

   .form_container .prevnex{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2%
   }
  
   #pre{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    background-color: white;
    padding: 0.6vh 1vw;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
   }
   #confirm{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    background-color: #CD1126;
    padding: 0.6vh 1vw;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
   }
   #pre:hover{
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-dark);
   }
   #confirm:hover{
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-dark);
   }
   .form_container{
    margin-top:8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .form_container .succ{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .form_container .succ p{
    width: 15vw;
    text-align: center;
   }